.MuiCard-root{
  margin: auto;
  height: 420px;
  padding-top: 22.5px;
  width: 310px
}
.MuiCardMedia-media{
  width: auto !important;
  margin: auto;
  object-fit: cover;
}
.forget_password_text{
  font-size: 12px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
}
.button_modified {
  width: 66%;
  margin: 5px 0 !important;
}
.bg_white{
  background-color: white;
}
